html {
overflow: scroll;
}

body {
 
	/*background-image: url(../img/back_spring.gif);*/
	background-image: url(../img/back_winter.gif);
	background-repeat: repeat-x;
}


.top {
background-image: url(../img/wood.jpg);
background-repeat: repeat-x;
height: 174px;
width: 1500px;
position: absolute;
top: 0px;
left: 0px;
}

.logo {
background-image: url(../img/logo.gif);
position: absolute;
background-repeat: no-repeat;
height: 148px;
width: 173px;
top: 20px;
left:60px;
}


.container {
width: 816px;
position: absolute;
left: 0px;
top: 0px;
}

.catch {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: normal;
font-stretch: expanded;
color: white;
position: absolute;
left: 260px;
top: 120px;
width: 800px;
text-align: left
}

/* language button */

.lang_btn_e {
z-index: 2;
position: absolute; 
left: 810px; 
top: 110px; 
width: 50px;
font-family:  Arial, Helvetica, sans-serif;
color: black;
font-size: 11px;
text-indent: 2px;
 }

.lang_btn_e a {
text-decoration: none;
color: black;
}

.lang_btn_e a:hover  {
 background-position: 0 bottom;
 text-decoration: underline;
}




.photo_cap {
font-family: Arial, Helvetica, sans-serif;
font-size: 9px;
font-weight: bold;
font-stretch:expanded;
color: black;
position: absolute;
text-align: left;
padding-top: 3px;
}

/*USE FOR WINTER*/
.flakes {
background-image: url(../img/flakes.png);
background-repeat: no-repeat;
height: 264px;
width: 204px;
/*position: absolute;
top: 480px;
left: 80px;*/
}
*/

/*USE FOR SUMMER*/
/*.flakes {
background-image: url(../img/leaf.png);
background-repeat: no-repeat;
height: 217px;
width: 222px;
/*position: relative;
top: 680px;
left: 80px;
z-index: -10;
}*/


.clr {
clear:both;
} 




.links {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 12px;
font-weight: normal;
color: white;
position: absolute;
left: 45px;
top: 30px;
text-align: right;
}

.links a:link {
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: white;
text-decoration: none;
}

.links a:hover{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #563a1f;
text-decoration:none;
}

.links a.on{
color: #563a1f;
text-decoration: none;
}

.links a:active {
color: #a77243;
text-decoration: none;
}

.links a:visited {
color: white;
text-decoration: none;
}

.side_photo {
position: absolute;
left: 10px;
width: 200px;

}

.content_left {
width: 250px;
position: absolute;
top: 154px;
left: 10px;
}

.content_middle {
width: 300px;
position: relative;
top: 180px;
left: 240px;
border-left: dotted;
border-left-color: gray;
border-left-width: thin;
}

.content_wide {
width: 500px;
position: relative;
top: 180px;
left: 240px;
border-left: dotted;
border-left-color: gray;
border-left-width: thin;
}

.content_right {
width: 400px;
position: absolute;
top: 180px;
left: 500px;
margin-left: 20px;
}

.content_news {
width: 400px;
position: absolute;
top: 180px;
left: 500px;
margin-left: 20px;
}

.content_full {
width: 816px;
float: left;
}
.ext_photo {
width: 400px;
position: absolute;
top: 180px;
left: 540px;
margin-left: 20px;
}

.lang_flag {
position: absolute;
top: 100px;
left: 820px;
float: left;
}

.cal {
margin-left: 15px;
margin-top: 10px;
}
.map {
margin-left: 20px;
margin-top: 20px;
}
.head {
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
font-weight: bold;
color: #563a1f;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 5px;
}

.subhead {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
margin-left: 0px;
margin-right: 20px;
border-bottom: dotted;
border-bottom-color: gray;
border-bottom-width: 1px;
border-top-width: 5px;
}

.biggersubhead {
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: bold;
margin-left: 0px;
margin-right: 20px;
border-bottom: dotted;
border-bottom-color: gray;
border-bottom-width: 1px;
border-top-width: 5px;
}

.text10 {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: 12px;
margin-left: 0px;
margin-right: 0px;
color: black;
}

.text11Plain {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-align: center;
}

.text11Plain a:link {
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 11px;
text-decoration: none;
}

.text11Plain a:hover {
font-family: Arial, Helvetica, sans-serif;
color: #563a1f;
font-size: 11px;
}

.text11Plain a:active {
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 11px;
}
.close {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 14px;
margin-left: 20px;
margin-right: 20px;
color: black;
}

.close a:link {
text-decoration: none;
color: black;
}
.close a:hover {
text-decoration: underline;
color: #563a1f;
}


.text11 {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
margin-left: 20px;
margin-right: 20px;
}

.text12B {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
}

.text11 a:link {
font-family: Arial, Helvetica, sans-serif;
color: #563a1f;
font-size: 11px;
}

.text11 a:hover {
font-family: Arial, Helvetica, sans-serif;
color: #563a1f;
font-size: 11px;
}

.text11 a:active {
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 11px;
}

.text11B {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
font-weight: bold;
margin-left: 20px;
margin-right: 20px;
}

.intro_text {
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 14px;
margin-left: 20px;
margin-right: 20px;
color: black;
}

.intro_text a:link {
text-decoration: underline;
color: black;
}
.intro_text a:hover {
text-decoration: underline;
color: #563a1f;
}

.intro_text ul {
list-style: circle;
text-indent: 5px;
}

.intro_text ul a:link {
font-family: Arial, Helvetica, sans-serif;
color: #563a1f;
}

.intro_text ul a:active {
font-family: Arial, Helvetica, sans-serif;
color: #563a1f;
}

.intro_text ul a:visited {
font-family: Arial, Helvetica, sans-serif;
color: black;
}

.photos {
float: left;
margin-top: 10px;
margin-bottom: 5px;
margin-right: 10px;
}

.footer {
width: 620px;
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
line-height: 20px;
color: #563a1f;
text-align: right;
float: left;
border-top: dotted;
border-width: thin;
/*margin-top: 240px;
margin-left: 30px;*/
border-top-color: #563a1f;
z-index: 2;
}



.footer a:link {
color: #563a1f;
text-decoration: underline;
}


/*media calls, etc. */


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

 
